@charset "ISO-8859-1";
<style type="text/css">
	ul{
		list-style-type: none;
		margin:0;
		padding: 0;
		overflow: hidden;
		background-color: #333;

	}
		li{
			float: left;
		  }
	li a{
		display:block;
		color: white;
		text-align: center;
		text-decoration: none;
		padding: 15px 16px;
		
	}
	li a:hover:not(.active)
		{
		background-color: #888888;
		}
			 .active{
					background-color: green;
					}
	</style>